.imperio{
    background-color: red;
}

.rebeldes{
    background-color: blue;
}

#vader{
    font-size: 160%;
}

#luke{
    font-style: italic;
}

li.soldados{
    border: 2px dashed black;
}

li.letrasEspaciadas{
    letter-spacing: 3px;
}

li.centrasUnidade{
    text-align: center;
}

li.letrasMayuscula{
    text-transform: uppercase;
}